

<div class="container" id="contact">
    <h4> Contact Professor Anthony Richardson </h4>
    <p class="contact"> Centre for Applications in Natural Resource Management </p>
    <p class="contact"> School of Maths and Physics </p>
    <p class="contact"> The University of Queensland </p>
    <p> <a class="button_main" href="mailto:ajr@maths.uq.edu.au" target="_top">Email</a></p>
 </div>

<div>
    <p><a class="button_main totop" href="#page_name">Back to top</a></p>
       <p class="foot_text">
        Designed by <a href="http://cbrown5.github.io">Chris Brown</a>.  Source on <a href="https://github.com/cbrown5" target="_blank">Github</a>
       </p>
 </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
