<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Easyr</title>
  <meta name="description" content="easyr">
  <meta name="author" content="Chris Brown">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/framework.css">

</head>
<body>

   <div id = "container_nav" class="container">
    <a class="menu_button" href="#navbar">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </a>
        <nav id="navbar">
          <ul class="navbar">
            <li><a class="button" href="{{ site.baseurl }}/index.html">Home</a></li>
            <li><a class="button" href="{{ site.baseurl }}/courses.html">Courses</a></li>
            <li><a class="button" href="{{ site.baseurl }}/books.html">Books</a></li>
            <li><a class="button" href="{{ site.baseurl }}/events.html">Events</a></li>
            <li><a class="button" href="{{ site.baseurl }}/who-we-are.html">Who we are</a></li>
         <li><a class="button" href="#">&#8679</a></li>
          </ul>
        </nav>
<h1 id="page_name">easyr </h1>
</div>
